{% extends "layouts.html" %}
{% block content %}

{% include "navbar.html" %}

<div class="container mt-2">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            Numero do pedido: {{pedidos.notafiscal}}
            <br>
            Status do pedido: {{pedidos.status}}
            <br>
            Nome do cliente: {{cliente.name}}
            <br>
            Email do cliente: {{cliente.email}}
            <br>
            Contato do cliente: {{cliente.contact}}
            <br>
            <br>
        <table class="table table-sm">
            <thead>
                <th>Código</th>
                <th>Nome</th>   
                <th>Peso</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Desconto</th>
                <th>Subtotal</th>


            </thead>
            <tbody>
                {%for key, produto in pedidos.pedido.items() %}
                {% set discount = "%0.2f" | format((produto.discount/100)* produto.price|float)%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{produto.name}}</td>
                        <td>{{produto.weight}}kg</td>
                        <td>R$ {{produto.price}}</td>
                        <td>{{produto.quantity}}</td>
                        {% if produto.discount > 0 %}
                        <td>{{produto.discount}}%&nbsp;=R${{discount}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% set subtotal = produto.quantity|int * produto.price|float %}
                        <td>R${{"%0.2f"|format((subtotal|float)-discount|float)}}</td>
                    </tr> 

                    {% endfor %}
                </tbody> 
            </table>
            <table class="table table-sm">
                
                
                <tr>  
                    <td >
                        {% if pedidos.status == 'Pago' %}
                        {% else %}
                        <form action="{{url_for('pagamento')}}" method="POST">
                            {% set amount = gTotal.replace('.','') %}
                            <input type="hidden" name="amount" value="{{amount}}">
                            <input type="hidden" name="invoice" value="{{pedidos.notafiscal}}">
                            <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_51LsvnJD5yIkwXHsgu1JYySHMRU3OrDG9sC0uOi4RZCnfO7Xq68gA0hGthWe49wSMetLkXOmuCK3lsvZSCz8oUxbI0029VolQoA"
                            data-name="DevFruit"
                            data-description="Pagamento seguro"
                            data-amount="{{amount}}"
                            data-currency="brl">
                            </script>
                        </form>
                        {% endif %}
                    </td>
                    
                    <td >Imposto:R${{imposto}}</td>
                    {% if pedidos.status == 'Pago' %}
                    <td colspan="9"><b>Valor Pago:R${{gTotal}}</b></td>
                    {% else %}
                    <td colspan="9"><b>Valor Pagar:R${{gTotal}}</b></td>
                    {% endif %}
                    <td>
                        <form action="{{url_for('get_pdf', notafiscal=pedidos.notafiscal)}}" method="POST">
                           <button type="submit" class="btn btn-warning btn-sm float-right">Gerar PDF</button> 
                        </form>
                    </td>           
                </tr> 
            </table>  
            
        
    </div>
  </div>
</div>
{% endblock content %}